        section {
            padding-top: 100px;
        }
        
        .mainbox {
            background-color: rgb(47, 47, 129);
            border: 2px solid black;
            width: 1200px;
            height: 800px;
            margin-left: 60px;
        }
        
        #box {
            display: inline-block;
            padding: 10px;
            margin: 50px;
            border: 2px solid black;
            background-color: rgb(31, 42, 100);
            height: 50px;
            width: 250px;
            font-size: xx-large;
            text-align: center;
            font-weight: 600;
        }
        
        #box a {
            color: white;
            text-decoration: none;
        }
        
        #box a:hover {
            color: rgb(0, 110, 255);
        }
        
        #box:hover {
            background-color: rgba(9, 2, 110, 0.493);
            box-shadow: 0 25px 15px rgb(255, 255, 255);
            font-style: italic;
        }